{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  {% verbatim vue %}
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only" v-if="dashboard">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Risk types <span class="sr-only" v-if="risk_types">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <h3>Intuitive Web Solutions</h3>
      <div id="app">
        <p>{{ risks | json }}</p>
        <div v-for="risk in risks">
          <h4>{{ risk.name }}</h4>
          <form v-for="eav in risk.eav">
            <div class="form-group">
              {{ eav.attribute.name }}: <input class="form-control" name="{{ eav.attribute.slug }}" type="{{ eav.attribute.datatype }}">
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  {% endverbatim vue %}
</div>
{% endblock content %}

{% block javascript %}
<script src="media/js/home.vue.js"></script>
{% endblock javascript %}
