{% extends 'base.html' %}

{% block content %}
<div id="vue-app" class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only" v-if="dashboard">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Risk types <span class="sr-only" v-if="risk_types">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {% verbatim vue %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ current }}</h1>
      </div>
      <h3>{{ subtitle }}</h3>
      <div>{{ message }}</div>
      {% endverbatim vue %}
    </main>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="media/js/home.vue.js"></script>
{% endblock javascript %}
